[submodule "backend"]
	path = backend
	url = https://github.com/Fivoryu/si2_p2_backend.git
	branch = main

[submodule "web"]
	path = web
	url = https://github.com/Fivoryu/si2_p2_frontend.git
	branch = main

[submodule "mobile"]
	path = mobile
	url = https://github.com/Fivoryu/si2_p2_mobile.git
	branch = main
